# ── API ──────────────────────────────────────────────────────────
PORT=4000
NODE_ENV=development

# ── MongoDB ───────────────────────────────────────────────────────
MONGODB_URI=mongodb+srv://<username>:<password>@tshirtdatabase.5imqrfl.mongodb.net/threadly

# ── CORS ──────────────────────────────────────────────────────────
CLIENT_ORIGIN=http://localhost:3000
