# ── API ──────────────────────────────────────────────────────────
PORT=4000
NODE_ENV=development

# ── MongoDB ───────────────────────────────────────────────────────
MONGODB_URI=mongodb+srv://contactapixel_db_user:nxTkxQELhot7FgRU@tshirtdatabase.5imqrfl.mongodb.net/threadly

# ── CORS ──────────────────────────────────────────────────────────
CLIENT_ORIGIN=http://localhost:3000
